
.card-container{
    display: flex;
    background-color: aqua;

    justify-content: center;

    align-items: center;

    position: static;
 
}

.CardMedia{
    height: 0;
   padding-top : '56.25%';
}
Card{background-color: blue;

}
.ButtonLogin{
    display: flex;
    align-content: center;
    align-items: center;
}

